/* You can add global styles to this file, and also import other style files */
body, html {
    font-family: 'Open Sans Hebrew', 'Open Sans', Arial;
    font-size: 15px;
    margin: auto;
    overflow-x: hidden;
    background-color: #f2f2f2;
}